In [43]:
import pandas as pd
import sklearn

- Ưu tiên khu vục "region"
- Tìm các post gần nhất bằng Euclidean Distance

In [44]:

df = pd.read_csv("fake-data.csv")
df

,id,region,area_by_m2,width_of_facade,width_of_road,is_legal,price
0,0,Lâm Hà,69,10,10,1,13.15
1,1,Đạ Tẻh,63,13,9,0,6.25
2,2,Đức Trọng,175,13,12,0,11.64
3,3,Lâm Hà,241,8,15,0,12.50
4,4,Lâm Hà,238,13,12,1,6.29
...,...,...,...,...,...,...,...
49995,49995,Đạ Tẻh,157,11,15,0,11.65
49996,49996,Đạ Tẻh,196,14,9,0,13.20
49997,49997,Cát Tiên,88,11,7,1,8.94
49998,49998,Lâm Hà,140,10,15,1,3.81
49999,49999,Cát Tiên,216,6,8,0,2.03

Step 1: 
    - Tách dataset, ưu tiên khu vực "region"
    - Tạo Minmax Scaler

In [45]:
cal_cols = ["area_by_m2", "width_of_facade", "width_of_road", "is_legal", "price"]
user_last_visited = pd.DataFrame({
    "id": [50],
    "region": ["Di Linh"],
    "area_by_m2": [100],
    "width_of_facade": [10],
    "width_of_road": [5],
    "is_legal": [1],
    "price": [5]
})
df_scaled_data = df.copy()
# df = df.append(user_last_visited.iloc[0])
df = pd.concat([df, user_last_visited])
user_last_visited
df

,id,region,area_by_m2,width_of_facade,width_of_road,is_legal,price
0,0,Lâm Hà,69,10,10,1,13.15
1,1,Đạ Tẻh,63,13,9,0,6.25
2,2,Đức Trọng,175,13,12,0,11.64
3,3,Lâm Hà,241,8,15,0,12.50
4,4,Lâm Hà,238,13,12,1,6.29
...,...,...,...,...,...,...,...
49996,49996,Đạ Tẻh,196,14,9,0,13.20
49997,49997,Cát Tiên,88,11,7,1,8.94
49998,49998,Lâm Hà,140,10,15,1,3.81
49999,49999,Cát Tiên,216,6,8,0,2.03
0,50,Di Linh,100,10,5,1,5.00

In [46]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(df[cal_cols])

df_scaled_data = df.copy()

df_scaled_data[cal_cols] = scaler.transform(df[cal_cols])
user_last_visited[cal_cols] = scaler.transform(user_last_visited[cal_cols])

df_scaled_data

,id,region,area_by_m2,width_of_facade,width_of_road,is_legal,price
0,0,Lâm Hà,0.095,0.5,0.5,1.0,0.869718
1,1,Đạ Tẻh,0.065,0.8,0.4,0.0,0.383803
2,2,Đức Trọng,0.625,0.8,0.7,0.0,0.763380
3,3,Lâm Hà,0.955,0.3,1.0,0.0,0.823944
4,4,Lâm Hà,0.940,0.8,0.7,1.0,0.386620
...,...,...,...,...,...,...,...
49996,49996,Đạ Tẻh,0.730,0.9,0.4,0.0,0.873239
49997,49997,Cát Tiên,0.190,0.6,0.2,1.0,0.573239
49998,49998,Lâm Hà,0.450,0.5,1.0,1.0,0.211972
49999,49999,Cát Tiên,0.830,0.1,0.3,0.0,0.086620
0,50,Di Linh,0.250,0.5,0.0,1.0,0.295775

Step 2: 
    - Lọc ra region từ lần cuối truy cập của user
    - Tính Euclid tới các post có cùng khu vực

In [47]:
last_visited_region = user_last_visited["region"][0]
data_same_region = df_scaled_data[df_scaled_data["region"] == last_visited_region].copy()
data_same_region

,id,region,area_by_m2,width_of_facade,width_of_road,is_legal,price
8,8,Di Linh,0.455,0.5,0.0,0.0,0.183099
33,33,Di Linh,0.790,0.8,0.9,0.0,0.595775
42,42,Di Linh,0.635,0.8,0.7,0.0,0.971831
46,46,Di Linh,0.035,0.3,0.7,1.0,0.438732
47,47,Di Linh,0.605,0.6,0.7,1.0,0.209859
...,...,...,...,...,...,...,...
49922,49922,Di Linh,1.000,0.9,0.3,0.0,0.151408
49932,49932,Di Linh,0.160,1.0,0.0,0.0,0.035211
49966,49966,Di Linh,0.205,1.0,0.4,0.0,0.425352
49990,49990,Di Linh,0.190,0.5,0.4,0.0,0.058451
0,50,Di Linh,0.250,0.5,0.0,1.0,0.295775

In [48]:
from scipy.spatial.distance import cdist


data_same_region["score"] = cdist(data_same_region[cal_cols], user_last_visited[cal_cols], metric='euclidean')

df_result = data_same_region.sort_values("score", ascending=True)
recommended_id = df_result["id"].tolist()
print(recommended_id[0:5])
visited_id = user_last_visited["id"].tolist()[0]
recommended_id.remove(visited_id)
df_result

[50, 21790, 15551, 31484, 13653]

,id,region,area_by_m2,width_of_facade,width_of_road,is_legal,price,score
0,50,Di Linh,0.250,0.5,0.0,1.0,0.295775,0.000000
21790,21790,Di Linh,0.280,0.6,0.0,1.0,0.247183,0.115157
15551,15551,Di Linh,0.185,0.5,0.1,1.0,0.331690,0.124559
31484,31484,Di Linh,0.245,0.6,0.1,1.0,0.247183,0.149620
13653,13653,Di Linh,0.100,0.4,0.0,1.0,0.265493,0.182803
...,...,...,...,...,...,...,...,...
13564,13564,Di Linh,0.970,0.0,0.9,0.0,0.869014,1.704994
17390,17390,Di Linh,0.710,1.0,1.0,0.0,0.969718,1.707571
576,576,Di Linh,0.985,0.1,1.0,0.0,0.840141,1.731057
43157,43157,Di Linh,0.950,0.2,1.0,0.0,0.997183,1.752705
24975,24975,Di Linh,1.000,0.3,1.0,0.0,0.988732,1.755759

Các bài post giống với bài gần nhất user truy cập

In [49]:
recommended_post = pd.DataFrame(columns=df.columns)
for ordered_id in recommended_id:
    recommended_post = pd.concat([recommended_post, df[df["id"] == ordered_id]], ignore_index=True)
recommended_post

         id   region area_by_m2 width_of_facade width_of_road is_legal  price
0     21790  Di Linh        106              11             5        1   4.31
1     15551  Di Linh         87              10             6        1   5.51
2     31484  Di Linh         99              11             6        1   4.31
3     13653  Di Linh         70               9             5        1   4.57
4     28244  Di Linh        124               9             5        1   6.35
...     ...      ...        ...             ...           ...      ...    ...
4308  13564  Di Linh        244               5            14        0  13.14
4309  17390  Di Linh        192              15            15        0  14.57
4310    576  Di Linh        247               6            15        0  12.73
4311  43157  Di Linh        240               7            15        0  14.96
4312  24975  Di Linh        250               8            15        0  14.84

[4313 rows x 7 columns]

In [50]:
user_last_visited[cal_cols] = scaler.inverse_transform(user_last_visited[cal_cols])
user_last_visited

   id   region  area_by_m2  width_of_facade  width_of_road  is_legal  price
0  50  Di Linh       100.0             10.0            5.0       1.0    5.0

In [51]:
import joblib
joblib.dump(scaler, "MinMaxScalerModel.gz")

['MinMaxScalerModel.gz']

Chạy từ đây trở xuống khi chạy mới, bên trên chỉ là test

In [17]:
from Recommender import Recommender
import pandas as pd
import joblib

database = pd.read_csv("fake-data.csv")

user_last_visited = pd.DataFrame(
    {
        "id": [90],
        "region": ["Di Linh"],
        "area_by_m2": [90],
        "width_of_facade": [5],
        "width_of_road": [5],
        "is_legal": [1],
        "price": [8],
    }
)

scaler = joblib.load("MinMaxScalerModel.gz")
cal_cols = ["area_by_m2", "width_of_facade", "width_of_road", "is_legal", "price"]
based_on = ["id"]

recommender = Recommender(
    user_data=user_last_visited,
    database=database,
    cal_cols=cal_cols,
    based_on="region",
    sort_by="id",
    scaler=scaler,
    top=5,
)

print(user_last_visited)
print(recommender.get_recommended())

   id   region  area_by_m2  width_of_facade  width_of_road  is_legal  price
0  90  Di Linh          90                5              5         1      8
     id   region area_by_m2 width_of_facade width_of_road is_legal price
0  2285  Di Linh         96               6             7        1  4.79
1  2907  Di Linh        101               8             6        1  7.25
2  4056  Di Linh         75               8             5        1  6.41
3  1490  Di Linh         95               6             6        1  3.48
4  3554  Di Linh        162               5             6        1  7.07

Create new empty column to contain most 5 similar

In [18]:
from Recommender import Recommender
import pandas as pd
import joblib

database = pd.read_csv("fake-data.csv")

scaler = joblib.load("MinMaxScalerModel.gz")
cal_cols = ["area_by_m2", "width_of_facade", "width_of_road", "is_legal", "price"]
based_on = ["id"]

user_last_visited = pd.DataFrame(
    {
        "id": [90],
        "region": ["Di Linh"],
        "area_by_m2": [90],
        "width_of_facade": [5],
        "width_of_road": [5],
        "is_legal": [1],
        "price": [8],
    }
)

recommender = Recommender(
    user_data=user_last_visited,
    database=database,
    cal_cols=cal_cols,
    based_on="region",
    sort_by="id",
    scaler=scaler,
    top=5,
)


print(user_last_visited)
print(recommender.get_recommended())

   id   region  area_by_m2  width_of_facade  width_of_road  is_legal  price
0  90  Di Linh          90                5              5         1      8
     id   region area_by_m2 width_of_facade width_of_road is_legal price
0  2285  Di Linh         96               6             7        1  4.79
1  2907  Di Linh        101               8             6        1  7.25
2  4056  Di Linh         75               8             5        1  6.41
3  1490  Di Linh         95               6             6        1  3.48
4  3554  Di Linh        162               5             6        1  7.07

In [19]:
def get_recommended_id(row):
    user_last_visited = pd.DataFrame(
        {
            "id": [row["id"]],
            "region": [row["region"]],
            "area_by_m2": [row["area_by_m2"]],
            "width_of_facade": [row["width_of_facade"]],
            "width_of_road": [row["width_of_road"]],
            "is_legal": [row["is_legal"]],
            "price": [row["price"]],
        }
    )

    recommender = Recommender(
        user_data=user_last_visited,
        database=database,
        cal_cols=cal_cols,
        based_on="region",
        sort_by="id",
        scaler=scaler,
        top=5,
    )

    temp_pd = recommender.get_recommended()
    return temp_pd["id"].to_list()

In [21]:
# test_database = database.sample(100).copy()
# test_database = database.copy()

# test_database["most_similar"] = test_database.apply(lambda row: get_recommended_id(row), axis=1)
# test_database

,id,region,area_by_m2,width_of_facade,width_of_road,is_legal,price,most_similar
0,0,Đà Lạt,57,15,13,0,7.67,"[990, 398, 3294, 2661, 1778]"
1,1,Đạ Tẻh,149,7,11,1,11.51,"[4097, 2361, 3155, 3365, 146]"
2,2,Đam Rông,77,12,15,0,7.98,"[172, 2660, 4320, 4001, 2216]"
3,3,Cát Tiên,56,10,8,1,14.96,"[1734, 658, 3464, 509, 1162]"
4,4,Đạ Huoai,197,6,7,1,4.20,"[1045, 1323, 541, 3164, 1479]"
...,...,...,...,...,...,...,...,...
4995,4995,Cát Tiên,137,14,9,1,13.14,"[4367, 1010, 3517, 3534, 3998]"
4996,4996,Đức Trọng,54,8,13,1,11.31,"[3356, 4062, 1065, 875, 812]"
4997,4997,Đạ Huoai,228,8,6,0,4.45,"[1536, 3119, 1693, 107, 1786]"
4998,4998,Bảo Lộc,74,13,10,0,0.93,"[4457, 4964, 7, 4174, 2872]"
4999,4999,Đạ Tẻh,51,7,15,1,4.33,"[4032, 1648, 613, 1993, 3585]"

- Ghi lại top-5 giống nhất
- Mỗi lần thêm post mới (hoặc sửa post cũ), sẽ tìm ra 5 post similar mới
- Khi có 5 id mới, duyệt lại 5 id đó, tìm ra 5 id gần nhất trong 6 id (kể cả id của post mới tạo)

Note: giải thích rõ hơn:

1. post mới có `id_mới_nhất` sẽ có 5 id của `5_post_similar`
2. => `5_post_similar` đó sẽ có thay đổi trong cột `top_5_id_similar`
3. => duyệt lại `top_5_id_similar` và thêm `id_mới_nhất` để tìm ra `top_5_id_similar` trong 6 id đó
4. => Mỗi lần thêm/sửa post, sẽ chạy thuật toán tổng 6 lần

Loại tìm bài viết tương tự này có thể duyệt qua profile của user để tìm ra bài viết user có thể có hứng thú.

Mua bán BĐS có tính chất: chỉ bán 1 lần nên ko thể áp dụng lọc cộng tác `collaborative filtering` để gợi ý cho user.

Giả sử ta có user `A`, `B`, `C`.

Case: `A` bán bđs `A'` -> `B` đã mua `A'` -> `A'` không còn trên website

 => ko thể sử dụng lọc cộng tác để gợi ý cho `C` có profile tương tự `B` mua `A'` dc vì `A'` ko còn bán

Bên cạnh đó, nếu sử dụng `collaborative filtering` dựa trên post truy cập của user, ta có thể tìm ra những post dc xem bởi `B`, từ dó recommend cho `C` - người profile tương tự `B`, nhưng sẽ làm loãng những post gợi ý cho `C` dựa theo profile của mình, nếu profile `C` giống hệt `B`, vậy những bài gợi ý cho `B` cũng sẽ được hiển thị cho `C`.

In [23]:
test_database.to_csv("fake-data-with-similar-id.csv")